:root {
    --text-color: black;
    --background-color: #F0EBD8;
    --theme-ultralight: #b7c5d6;
    --theme-light: #748CAB;
    --theme-medium: #3E5C76;
    --theme-mediumdark: #1D2D44;
    --theme-dark: #0D1321;
    --font-family: 'poppins', 'roboto', sans-serif
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    /* Sizing and location */
    grid-row: 1 / 2;

    display: flex;

    position: relative;

    /* Colors and theming */
    color: var(--text-color);
    background-color: var(--theme-ultralight);
}



.navigation {
    visibility: hidden;
    align-items: center;
    margin-left: auto;
    margin-top: auto;
    height: 100%;

}

.navigation ul {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    color: var(--text-color);

    display: flex;
    justify-content: space-around;
}

.navigation a {
    text-decoration: none;
    color: inherit;
    margin: 0 .5rem;
    padding: .5rem;
}

.navigation a:hover {
    background-color: rgba(0, 0, 0, .3);
}

.active {
    border-top: 3px solid var(--theme-medium);
}

.logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto 1rem;
}

#socials {
    margin-left: 1rem;
}

#socials > a {
    height: 48px;
    width: 48px;
    text-decoration: none;
}


main {
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
}

.card {
    border: 1px solid black;
    border-radius: 3px;
    min-height: 10rem;
    min-width: 30rem;
    max-width: 80%;
    margin: .5rem auto;
    padding: 1rem;
    background-color: rgba(0, 0, 0, .04);
}

.card h1,
.card h2 {
    /* margin: 0.5rem 1rem; */
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.card > section {
    max-width: 50rem;
    margin: .5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
}

.card > :last-child {
    border-bottom: none;
}

.event * {
    margin-top: 0;
    padding: 0;
    margin-left: 2rem;
}

.centered {
    text-align: center;
}

#spotlights > h2 {
    text-align: center;
    color: var(--theme-dark);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 3/4;
    background-color: var(--theme-ultralight);
    color: var(--text-color);
    height: 5rem;
    text-align: center;
    
}

#menu {
    color: white;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    background-color: var(--theme-dark);
}

#menu::before {
    content: '≡';
}

#menu.open::before {
    content: 'X';
}

.open {
    display: block;
}

.navigation.open {
    visibility: visible;
    position: absolute;
    top: 100%;
    right: 0;
}

.navigation.open ul {
    display: block;
    background-color: var(--theme-ultralight);
    padding: 2rem;
}

.navigation.open li {
    margin: 1rem;
}

#discovery-content {
    display: block;
}

#discovery-content>* {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#discovery-content > .left > section,
#discovery-content > .right > section {
    background-color: #00000011;
    border: 1px solid black;
    border-radius: 3px;
    padding: 0 2rem;
}

#discovery-content h2 {
    text-align: center;
}

/* Forms */

.web-form-1 {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.web-form-1 label {
    display: block;
    margin-top: 1rem;
}

.web-form-1 label > * {
    display: block;
}

.web-form-1 label:has(:required)::before {
    color: red;
    content: "*";
}

.web-form-1 input {
    border-radius: 5px;
}

.web-form-1 input:invalid {
    border-left: 6px solid red;
}

.web-form-1 input[type="text"]:valid,
.web-form-1 input[type="email"]:valid {
    border-left: 6px solid green;
}

.web-form-1 input[type=submit] {
    min-width: 10rem;
    min-height: 3rem;

}

#directory {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

#directory .card {
    height: auto;

}

#directory > .card > .member-logo {
    display: block;
    width: 12rem;
    height: auto;

    margin: .25rem auto;
}

#options {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: .5rem;
}

.column-layout {
    flex-direction: column;
}

#toggle {
    padding: .5rem;
    border-radius: 5px;
}

#toggle:hover {
    background-color: rgba(0, 0, 0, .1);
    cursor: pointer;   
}

.weather-icon {
    display: block;
    margin: 0 auto;
}

.temperature-container {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.temperature::after {
    content: "°F";
}

.weather-description {
    width: 100%;
    text-align: center;
}


#weather-and-forecast {
    border: 1px solid black;
    border-radius: 6px;
    background-color: var(--theme-ultralight);
}